/*
 * Copyright 2024, Colias Group, LLC
 *
 * SPDX-License-Identifier: BSD-2-Clause
 *
 */

.fragment-with-context > .fragment-with-context-context > pre > code {
    background-color: color-mix(in srgb, var(--bg), #777 20%);
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* text-align: right; */
}

.fragment-with-context > .fragment-with-context-context > pre {
    margin-bottom: 0;
    /* margin-top: 0; */
}

.fragment-with-context > .fragment-with-context-fragment > pre {
    margin-top: 0;
    /* margin-bottom: 0; */
}
